/* Popfix Main Styles */
$color-bg: #FEFEFE;

* {
  margin: 0;
  padding: 0;
}

body,
#root {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}
