/* Popfix Main Styles */
$color-bg: #FEFEFE;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

#root {
  min-height: 100vh;
  width: 100%;
}
